<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

<div class="categories-container  t-rec_pt_0 t-rec_pb_15 t-container"></div>
<div class="search-container  t-rec_pt_0 t-rec_pb_30 t-container"></div>
<div class="services-container  t-rec_pt_0 t-rec_pb_30 t-container"></div>
</body>
<script>

    /*Cхема требуемых данных для рендера*/
    const SERVICE_SCHEME = {
        name: "gsx$name",
        whatsapp: "gsx$whatsapp",
        telegram: "gsx$telegram",
        instagram: "gsx$telegram",
        facebook: "gsx$facebook",
        service: "gsx$service",
        description: "gsx$description",
        cat: "gsx$cat",
        site: "gsx$site"
    };

    const servicesUrl =
      "https://gist.githubusercontent.com/modecrywork/427f419e58130e9b91ad12eb167988cf/raw/ed7c814e7065fdb4158d128e75151a5f112a5646/testdata";
    const categoriesUrl = "https://gist.githubusercontent.com/modecrywork/bc8308ffd20dbc5a74f878079237ea90/raw/8168ddd1d453042852d74969669d9efb8ef36162/gistfile1.txt";

    /*Настраиваемые параметры для инстанса*/
    const ServicesConfig = {
        servicesUrl,
        categoriesUrl,
        scheme: SERVICE_SCHEME,
        filtersSettings: {
            search: true,
            fields: ["name", "service", "description"],
        }
    };

    const rootSettings = {
        blockContent: ".services-container",
        categories: ".categories-container",
        search: ".search-container",
    };

    const ServicesContent = new StructuredContent(ServicesConfig, rootSettings);
    ServicesContent.init(); // инициализируем контент

</script>
</html>
